* {
    background-color: #004400; /* Dark green, reminiscent of Christmas trees */
    color: white;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: xxx-large;
    font-family: 'Mountains of Christmas', cursive; /* A font that has a Christmas feel */
    margin: 0.5em 0; /* Add some margin to the heading */
}
h2 {
    display: flex;
    justify-content: flex-start;
}

.about {
    display: flex;
    justify-content: center;
    font-size: large;
}

.presentDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

/* Buttons styling */
.buttons button {
    background-color: #c8102e; /* Deep red for buttons */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for buttons */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.buttons button:hover {
    background-color: #a00; /* Slightly darker red on hover */
    transform: scale(1.05); /* Slight increase in size on hover */
}

/* Ensure links within buttons are styled correctly */
.buttons a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
